<div [@routerTransition]>
    <app-page-header [heading]="'Student Registration'" [icon]="'fa-wrench'"></app-page-header>

	<div class="row">
	<div class="col-md-4 push-md-4">
		<form role="form" [formGroup]="RegistrationForm">
			<div class="form-content">
				<div class="form-group">
					<input class="form-control input-underline input-lg" type="studentName" formControlName="studentName" placeholder="Student Name">
				</div>
				<div class="form-group">
					<input class="form-control input-underline input-lg" type="fatherName" formControlName="fatherName" placeholder="Father Name">
				</div>
				<div class="form-group">
					<input class="form-control input-underline input-lg" type="registrationDate" formControlName="registrationDate" placeholder="Registration Date">
				</div>
				<div class="form-group">
					<input class="form-control input-underline input-lg" type="class" formControlName="class" placeholder="Class">
				</div>
				<div class="form-group">
					<input class="form-control input-underline input-lg" type="QRno" formControlName="QRno" placeholder="QR Number">
				</div>
				<div class="form-group">
					<input class="form-control input-underline input-lg" type="studentFees" formControlName="studentFees" placeholder="Student Fees">
				</div>
				<div class="form-group">
					<input class="form-control input-underline input-lg" type="email" formControlName="email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control input-underline input-lg" formControlName="password" placeholder="Password">
				</div>
			</div>
			<button class="btn rounded-btn" [disabled]="RegistrationForm.status == 'INVALID'" (click)="addStudent()">Submit</button>			&nbsp;
		</form>
	</div>
    <!-- /.row -->
</div>
