<app-page-header [heading]="'Student Attendance Form'" [icon]="'fa-edit'"></app-page-header>
	<!-- <form [formGroup]="myForm" novalidate style="height:300px; width:250px;">
		<span>Select Today Date </span>
		<my-date-picker [(ngModel)]="model" name="mydate" [options]="myDatePickerOptions" formControlName="myDate" (dateChanged)="onDateChanged($event)"></my-date-picker>
		<span>Enter Employee ID</span>
	<input type="text" class="form-control input-underline input-lg" formControlName="employeeID">
	<button class="btn rounded-btn" [disabled]="myForm.status == 'INVALID'" (click)="attendanceSubmit()">Submit</button>
	</form>
	<div class="card mb-3" style="margin-top:-100px" *ngIf="isSubmit==false">
		<div class="card-block table-responsive">
			<table class="table" border="1x">
				<thead class="thead-inverse">
					<tr>
						<th>Employee Name</th>
						<th>Employee Type</th>
						<th>Employee ID</th>
						<th>Attendance</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let employee of attendanceData">
						<td>{{employee.employeeName}}</td>
						<td>{{employee.employeeType}}</td>
						<td>{{employee.employeeID}}</td>
						<td> <span *ngIf="todayDate!=''">
                            <input
							type ="checkbox"
							value="{{employee.employeeID}}"
							name="{{employee.employeeID}}"
                            (change)="change($event, employee)"/>
                        </span></td>
					</tr>
				</tbody>
			</table>
			<button class="btn rounded-btn" (click)="submit()">Submit</button>
		</div>
	</div> -->

<div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form" [formGroup]="myForm">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Class</label>
                    <select class="select2 form-control" formControlName="cls">
                        <option value="">Select Class</option>
                        <option value="1st">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                    </select>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Section</label>
                    <select class="select2 form-control" formControlName="section">
                        <option>Select Section</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Date</label>
                        <div class="form-control">
                            <my-date-picker [(ngModel)]="model" name="date" [options]="myDatePickerOptions" formControlName="date"
                                (dateChanged)="onDateChanged($event)"></my-date-picker>
                        </div>
                </div>
            </div>
            <div class="col-12 form-group mg-t-8">
                <button class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" (click)="search()">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="col-12" *ngIf="studentsList.length!=0">
    <div class="card">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Attendence Sheet for Date : {{dateSelect}} </h3>
                    <h3>Class {{myForm.value.cls}} - Section {{myForm.value.section}}</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table bs-table table-striped table-bordered text-nowrap">
                    <thead>
                        <tr>
                            <th>Roll No.</th>
                            <th>Student Name</th>
                            <th>Attendance &nbsp;&nbsp;&nbsp;<button class="btn-md btn-gradient-yellow btn-hover-bluedark" (click)="checkAll(this)">All Present</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of studentsList">
                            <td> {{student.rollnum}} </td>
                            <td> {{student.studentName}} {{student.lastName}} </td>
                            <td>
                                <span><input type="checkbox" value="{{student.id}}" name="01/{{myForm.value.month}}/{{myForm.value.year}}"
                                    (change)="changeAttendancePresent($event, student)" > Present </span>
                                <!-- &nbsp;&nbsp;&nbsp;
                                <span><input type="checkbox" value="{{student.id}}" name="02/{{myForm.value.month}}/{{myForm.value.year}}"
                                    (change)="changeAttendanceAbsent($event, student)"> Absent </span> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 form-group mg-t-8 center">
                <button class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" (click)="submitAttendance()">Submit</button>
            </div>
        </div>
    </div>
</div>
