<app-page-header [heading]="'Teacher Registration'" [icon]="'fa-edit'"></app-page-header>
<!--
	<div breadcrumbs-area>
		<h1><b>Teacher Registration</b></h1> -->

		<div class="card height-auto">
			<div class="card-body">
			<!-- <form role="form" [formGroup]="RegistrationForm">
				<div class="form-content">
					<div class="form-group">
						<input class="form-control input-underline input-lg" type="studentName" formControlName="studentName" placeholder="Student Name">
					</div>
					<div class="form-group">
						<input class="form-control input-underline input-lg" type="fatherName" formControlName="fatherName" placeholder="Father Name">
					</div>
					<div class="form-group">
						<input class="form-control input-underline input-lg" type="registrationDate" formControlName="registrationDate" placeholder="Registration Date">
					</div>
					<div class="form-group">
						<input class="form-control input-underline input-lg" type="class" formControlName="class" placeholder="Class">
					</div>
					<div class="form-group">
						<input class="form-control input-underline input-lg" type="QRno" formControlName="QRno" placeholder="QR Number">
					</div>
					<div class="form-group">
						<input class="form-control input-underline input-lg" type="studentFees" formControlName="studentFees" placeholder="Student Fees">
					</div>
					<div class="form-group">
						<input class="form-control input-underline input-lg" type="email" formControlName="email" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" formControlName="password" placeholder="Password">
					</div>
				</div>
				<button class="btn rounded-btn" [disabled]="RegistrationForm.status == 'INVALID'" (click)="addStudent()">Submit</button>			&nbsp;
			</form> -->
			<form class="new-added-form"  role="form" [formGroup]="RegistrationForm">
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-12 form-group">
						<label>Teacher Name*</label>
						<input class="form-control" type="teacherName" formControlName="teacherName" [(ngModel)]="newTeacher.teacherName">
					</div>
					<div class="col-xl-3 col-lg-6 col-12 form-group">
						<label>Father Name*</label>
						<input class="form-control" type="fatherName" formControlName="fatherName" [(ngModel)]="newTeacher.fatherName">
					</div>
					<div class="col-xl-3 col-lg-6 col-12 form-group">
						<label>Gender*</label>
                        <select class="select2 form-control" type="gender" formControlName="gender" [(ngModel)]="newTeacher.gender">
                            <option>Please Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
					</div>
					<div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Date Of Birth*</label>
                        <div class="form-control">
                        <my-date-picker [(ngModel)]="model && newTeacher.dob" name="dob" [options]="myDatePickerOptions" formControlName="dob"
                            (dateChanged)="onDateChanged($event)"></my-date-picker>
                        </div>
						<!-- <input placeholder="DD/MM/YYYY" class="form-control air-datepicker"
							data-position='bottom right' type="dob" formControlName="dob" [(ngModel)]="newTeacher.dob">
						<i class="far fa-calendar-alt"></i> -->
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Religion*</label>
                        <select class="select2 form-control" type="religion" formControlName="religion" [(ngModel)]="newTeacher.religion">
                            <option>Please Select</option>
                            <option value="Christian">Christian</option>
                            <option value="Islam">Islam</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Buddhist">Buddhist</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
					<div class="col-xl-3 col-lg-6 col-12 form-group">
						<label>Blood Group*</label>
                        <input class="form-control" type="blood_grp" formControlName="blood_grp" [(ngModel)]="newTeacher.blood_grp">
					</div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Phone*</label>
                        <input class="form-control" type="phone" formControlName="phone" [(ngModel)]="newTeacher.phone">
                    </div>
					<div class="col-xl-3 col-lg-6 col-12 form-group">
						<label>E-Mail*</label>
						<input class="form-control" type="email" formControlName="email" [(ngModel)]="newTeacher.email">
					</div>
					<div class="col-xl-3 col-lg-6 col-12 form-group">
						<label>Registration No.*</label>
						<input class="form-control" type="reg_num" formControlName="reg_num" [(ngModel)]="newTeacher.reg_num">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Qualification*</label>
                        <input class="form-control" type="qualification" formControlName="qualification" [(ngModel)]="newTeacher.qualification">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Experience*</label>
                        <input class="form-control" type="exp" formControlName="exp" [(ngModel)]="newTeacher.exp">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Subject*</label>
                        <select class="select2 form-control" type="subject" formControlName="subject" [(ngModel)]="newTeacher.subject">
                            <option>Please Select</option>
                            <option value="English">English</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Science">Science</option>
                            <option value="Social Science">Social Science</option>
                        </select>
                    </div>
					<div class="col-lg-6 col-12 form-group">
						<label>Address*</label>
                        <textarea class="textarea form-control" cols="10" rows="5"
                             type="address" formControlName="address" [(ngModel)]="newTeacher.address"></textarea>
					</div>
					<!-- <div class="col-lg-6 col-12 form-group mg-t-30">
						<label class="text-dark-medium">Upload Employee Photo (150px X 150px)</label>
						<input type="file" class="form-control-file">
					</div> -->
					<div class="col-12 form-group mg-t-8">
						<button class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" [disabled]="RegistrationForm.status == 'INVALID'" (click)="addTeacherIDB()">Save</button>
						<button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
					</div>
				</div>
			</form>
		</div>

	</div>
