<app-page-header [heading]="'Examination'" [icon]="'fa-edit'"></app-page-header>
<form [formGroup]="myForm" novalidate>
    <table class="table">
        <tbody>
            <tr>
                <td><span>Section</span>
                    <select class="select2 form-control">

                        <option value="">Select Class</option>
                        <option value="1st">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                    </select>
                </td>
                <td><span>Section</span>
                    <select class="select2 form-control">

                        <option value="">Select Section</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select>
                </td>
                <td><span>Year</span>
                    <input type="text" class="form-control input-underline input-lg">

                </td>
            </tr>
        </tbody>
    </table>




    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Exam Grade Lists</h3>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table bs-table table-striped table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-left">Students</th>
                                <th>English</th>
                                <th>Maths</th>
                                <th>Hindi</th>
                                <th>Science</th>
                                <th>Social Science</th>
                                <th>Marathi</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">Michele Johnson</td>
                                <td><input type="text" class="form-control input-underline input-lg">
                                </td>
                                <td><input type="text" class="form-control input-underline input-lg">
                                </td>
                                <td><input type="text" class="form-control input-underline input-lg">
                                </td>
                                <td><input type="text" class="form-control input-underline input-lg">
                                </td>
                                <td><input type="text" class="form-control input-underline input-lg">
                                </td>
                                <td><input type="text" class="form-control input-underline input-lg">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 form-group mg-t-8">
        <span> <button class="btn rounded-btn" class="button button3" (click)="submit()">Submit</button></span>
    </div>
</form>
<hr>
