<app-page-header [heading]="'File Upload'" [icon]="'fa-upload'"></app-page-header>
<h4 class="note"><b>NOTE: File Uploading feature is only available in <u>Online Mode</u></b></h4>

<div class="frame">

	<div class="center">
        <i>Please click on upload icon to select file</i>
		<div class="title">
			<h1><b>Drop file to upload</b></h1>
		</div>

		<div class="dropzone">
			<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
            <input type="file" class="upload-input" />
		</div>
		<button type="button" class="btn" name="uploadbutton">Upload file</button>

	</div>
</div>
